body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    max-width: 450px;
}

h2, h4 {
    margin: 0;
}

h4 {
    color: #ccc1ff;
    font-weight: 500;
}

p {
    color: white;
    font-size: 13px;
    font-weight: 300;

    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: stretch;
    text-align: center;
}

.info-box {
    background-color: #273549;
    margin: 20px;

    border-radius: 5px;
    padding: 15px;
}

#header {
    background-color: #6943ff;
    color: white;
    padding: 20px;
}

#content {
    background-color: #1f2937;
}

#number-input {
    width: 80px;
    height: 60px;
    margin: 25px 0;

    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;

    border: 2px solid #b194fd;
    border-radius: 3px;

    background-color: #6943ff;
}

#number-btn {
    background-color: white;
    padding: 8px 21px;

    border: none;
    border-radius: 3px;

    font-family: "Roboto", sans-serif;
    font-size: 13px;

    margin-bottom: 10px;
}